.counterContainer {
    display: flex;
    width: 256px;
  
    .counterWrapper {
      padding: 24px;
      min-width: 78px;
      margin: 16px;
      background-color: #FEB139;
      border: 1px solid black;
      border-radius: 8px;
  
    }
  }
  