.LoginScreen {
  display: flex;
  justify-content: center;
  .Login {
    background-color: #3c3f51;
    border-radius: 6px;
    width: 500px;
    .Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .LogoWrapper {
        margin: 16px;
        .Icon {
          transform: scale(5.0);
          color: #e63946;
          padding: 45px;
        }
      }
      .FieldWrapper {
        width: 85%;
        margin: 16px;
      }
      .ButtonWrapper {
        width: 85%;
        margin: 0 16px 16px
      }
    }
  }
}
