.tableControls {
    display: flex;
    flex-direction: column;
    margin: 32px 8px 8px 16px;
    .inputContainer,
    .buttonContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;
    }
    input {
      height: 24px;
      background-color: #495371;
      border: 1px solid #f0a500;
      color: #f0a500;
      border-radius: 8px;
      margin-bottom: 8px;
      padding-left: 8px;
    }
    button {
      height: 32px;
      margin-bottom: 12px;
      background-color: #f0a500;
      border: none;
      border-radius: 8px;
      font-size: 16px;
    }
    button:hover {
      cursor: pointer;
      background-color: #f0c800;
    }
  }