.NavBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3F51;
    margin-bottom: 128px;
    .AdminNav {
        display: flex;
        align-items: center;
        position: absolute;
        right: 2%;
    }
    .Logo {
        width: 72px;
        height: 72px;
    }
    .Link {
        text-decoration: none;
        font-size: 26px;
        color: aliceblue;
    }
    .Link:hover {
        color: #59BDC6;
    }
}
