@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
$nunito: "Nunito", sans-serif;

.InputWrapper {
  margin: 8px;
  width: 100%;
  border: 2px solid #A7A7A7;
  border-radius: 4px;
  display: flex;
  .Icon {
    color: #ffffff;
    margin: 12px;
  }
  .Input {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    font-family: $nunito;
    font-size: 20px;
    width: 100%;
  }
  
  .Input:focus {
      outline: none;
  }
}
.InputWrapper:focus-within {
  border-color: #59BDC6;
}
.validationError {
  border: 2px solid red;
}

