.carItemWrapper {
    div {
        width: 256px;
        background-color: #F55353;
        margin: 16px;
        padding: 16px;
        border: 1px solid black;
        border-radius: 8px;
        -webkit-box-shadow: -2px 11px 21px -6px rgba(0,0,0,0.7); 
        box-shadow: -2px 11px 21px -6px rgba(0,0,0,0.7);
    
        font-size: 24px;
        color: #dedede;
      }
      .available {
        background-color: #14C38E;
        
      }
      div:hover {
        background-color: #f0a500;
        color: black;
      }
}
