.Home {
  .CarContainer {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    .CarList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
