.CardContainer {
  margin: 16px;
  .Card {
    border-radius: 6px;
    background-color: #3c3f51;
    border-bottom: 2px solid #F13B52;
    transition: all .2s ease-in-out;
    .Overlay {
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }
    .ImageWrapper {
      width: 450px;
      height: 300px;
      overflow: hidden;
      .Image {
        width: auto;
        height: 300px;
        border-radius: 6px;
      }
    }
    .InfoWrapper {
      display: flex;
      justify-content: flex-start;
      .Label {
        padding: 8px;
        margin-left: 16px;
        color: aliceblue;
      }
    }
  }
  .Card:hover {
    transform: scale(1.2);
  }
  .Available {
    border-bottom: 2px solid #06d6a0;
  }
}
