@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$nunito: 'Nunito', sans-serif;

.Button {
    background-color: #FCAC46;
    color: #FFFFFF;
    border-radius: 6px;
    font-family: $nunito;
    font-size: 20px;
    margin: 8px;
    width: 100%;
    padding: 8px;
    max-height: 27px;
    display: flex;
    justify-content: center;
    .Divider {
        margin: 0 8px;
    }
}
.Button:hover {
    background-color: #E69147;
}
.Button:active {
    background-color: #FE773F;
}