@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$nunito: 'Nunito', sans-serif;
body {
  margin: 0;
  font-family: $nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282A34;
}

code {
  font-family: 'Nunito', sans-serif;
}
